<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        
        <H1>States</H1>
        <UL>
        {% for state_city in data %}
            <LI>{{ state_city["state"].id }}: <B>{{ state_city["state"].name }}</B>
                <UL>
                {% for city in state_city["cities"] %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                {% endfor %}
                </UL>
            </LI>
        {% endfor %}
        </UL>
    </BODY>
</HTML>
